@using ApexCharts
@using Bulletin_solde.Data.Models
@using Bulletin_solde.Data.Services
@using System.Globalization
@inject Data.ApplicationDbContext DbContext
@inject BulletinServices bServices

<div>
    <ApexChart TItem="Bulletin"
               >
        <ApexPointSeries TItem="Bulletin"
                         Items="bulletins"
                         Name="Solde mensuelle"
                         XValue="@(e => e.Date.ToString("MMMM yy", cultureInfo))"
                         YAggregate="@(e => e.Sum(e => (decimal)e.Amount))"
                         />
    </ApexChart>
</div>

@code {
    [Parameter]
    public List<Bulletin> bulletins { get; set; }

    private ApexChartOptions<Bulletin> options = new ApexCharts.ApexChartOptions<Bulletin>();

    // For french language as date time is expressed
    CultureInfo cultureInfo = new CultureInfo("fr-FR"); 
    protected override void OnInitialized()
    {
        bulletins = bulletins.OrderBy(b => b.Date).ToList();
        options.Title = new ApexCharts.Title
        {
            Style = new TitleStyle{FontFamily = "Gt-Eesti"}
        };
        options.Chart = new Chart
            {
                Toolbar = new Toolbar
                {
                    //Tools = new Tools { Zoomin = false, Zoomout = false }
                    Tools = null
                }
            };
    }
}