@using ApexCharts
@using Bulletin_solde.Data.Models
@using Bulletin_solde.Data.Services
@using System.Globalization
@inject Data.ApplicationDbContext DbContext
@inject BulletinServices bServices

<div style="width: 50%; height:300px; margin-bottom:auto">
    <ApexChart TItem="Bulletin"
               Title="Historique des soldes mensuelles"
               >
        <ApexPointSeries TItem="Bulletin"
                         Items="bulletins"
                         Name="Solde mensuelle"
                         XValue="@(e => e.Date.ToString("MMMM yy", cultureInfo))"
                         YAggregate="@(e => e.Sum(e => e.Amount))"
                         />
    </ApexChart>
</div>

@code {
    [Parameter]
    public List<Bulletin> bulletins { get; set; }

    // For french language as date time is expressed
    CultureInfo cultureInfo = new CultureInfo("fr-FR"); 
    protected override void OnInitialized()
    {
        bulletins = bulletins.OrderBy(b => b.Date).ToList();
    }
}