@using ApexCharts
@using Bulletin_solde.Data.Models
@using Bulletin_solde.Data.Services
@inject Data.ApplicationDbContext DbContext
@inject BulletinServices bServices

<div style="width: 50%; height:300px; margin-bottom:auto">
    <ApexChart TItem="Bulletin"
               Title="Order Net Value">

        <ApexPointSeries TItem="Bulletin"
                         Items="bulletins"
                         Name="Solde mensuelle"
                         XValue="@(e => e.Date)"
                         YAggregate="@(e => e.Sum(e => e.Amount))"
                         OrderBy="e=>e.X" />
        <ApexPointSeries TItem="Bulletin"
                         Items="bulletins" />
    </ApexChart>
</div>

@code {
    private List<Bulletin> bulletins;
    protected override async Task OnInitializedAsync()
    {
        bulletins = await bServices.GetAllBulletins();
    }

}