@page "/"
@using Bulletin_solde.Data.Models
@using Bulletin_solde.Data.Service
@using Bulletin_solde.Data.Services
@using System.Globalization
@inject Data.ApplicationDbContext DbContext
@inject BulletinServices bServices
@inject StatisticsServices stats
@rendermode InteractiveServer

<head>
    <link rel="stylesheet" href="~/app.css"/>
</head>

<div class="dashboard-container">
    <div class="linechart-section">
        <div class="linechart-options">
            <h3>@lineChartTitle</h3>
            <Dropdown TEnum="VisualisationModes" SelectedValue="selectedMode" SelectedValueChanged="OnDropDownChanged"></Dropdown>
        </div>
        
        @if (selectedMode == VisualisationModes.Bulletin)
        {
            <BulletinsLineChart bulletins="@bulletins"></BulletinsLineChart>
        }
        else if (selectedMode == VisualisationModes.Month)
        {

        }
    </div>
    <div class="stats-section">
        <div class="stat-item">Moyenne par bulletin : @average€</div>
        <div class="stat-item">Minimum : @min€</div>
        <div class="stat-item">Maximum : @max€</div>
        <div class="stat-item">Total : @total€</div>
    </div>
</div>
<div class="upload-btn-container">
    <UploadJson OnFilesProcessed="OnFilesLoaded"></UploadJson>
</div>



@code {
    private VisualisationModes selectedMode = VisualisationModes.Bulletin;
    List<Bulletin>? bulletins;
    private string lineChartTitle = "Visualisation de tous les bulletins de solde";

    private double total;
    private double average;
    private double min;
    private double max;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadBulletins(); 
        }
        catch (InvalidOperationException)
        {
            total = 0;
            average = 0;
            min = 0;
            max = 0;
        }
    }

    private void OnDropDownChanged(VisualisationModes newMode)
    {
        selectedMode = newMode;
        if(selectedMode == VisualisationModes.Bulletin)
        {
            lineChartTitle = "Visualisation de tous les bulletins de solde";
        }
        else if(selectedMode == VisualisationModes.Month)
        {
            lineChartTitle = "Visualisation des paiements par mois";
        }
        else if(selectedMode == VisualisationModes.Days)
        {
            lineChartTitle = "Visualisation du nombre de jours de service par mois";
        }
        StateHasChanged();
        Console.WriteLine($"Dropdown changed to {newMode}");
    }

    private async Task LoadBulletins()
    {
        bulletins = await bServices.GetAllBulletins();
        total = await stats.GetTotalIncome();
        average = await stats.GetAverageIncome();
        min = await stats.GetMinStartIncome();
        max = await stats.GetMaxEndIncome();
    }

    private async Task OnFilesLoaded()
    {
        await LoadBulletins();
        StateHasChanged();
    }
}
